In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import time
from scipy.stats import norm,kstest,shapiro,t
import warnings
import seaborn as sns
import statistics
warnings.filterwarnings('ignore')
import yfinance as yf
from synchronous_functions import *

In [19]:
intc_df = yf.download(['TSM220304C00115000'], 
                      start='2022-01-05', 
                      end='2022-02-11', 
                      progress=False,
)
intc_df

             Open   High    Low  Close  Adj Close  Volume
Date
2022-02-02  10.15  10.54  10.05  10.54      10.54       6
2022-02-03  10.05  10.05  10.05  10.05      10.05       0
2022-02-04   8.40   8.40   8.40   8.40       8.40       1
2022-02-07  10.55  10.55   9.90   9.90       9.90       6
2022-02-10  12.30  13.30  11.32  11.32      11.32      15
2022-02-11   9.08   9.08   9.08   9.08       9.08       5

In [20]:
intc_df['Adj Close']

Date
2022-02-02    10.54
2022-02-03    10.05
2022-02-04     8.40
2022-02-07     9.90
2022-02-10    11.32
2022-02-11     9.08
Name: Adj Close, dtype: float64

In [55]:
us_stock = pd.read_csv("nasdaq_screener.csv")
us_stock.dropna(subset = ["Sector"],inplace=True)
us_stock = us_stock[['Symbol','Name','Sector','Industry']]
stock_symbol = list(us_stock['Symbol'])

In [60]:
for sector, sector_data in us_stock.groupby('Sector'):
    print(sector)

Basic Industries
Capital Goods
Consumer Durables
Consumer Non-Durables
Consumer Services
Energy
Finance
Health Care
Miscellaneous
Public Utilities
Technology
Transportation

In [66]:
test = sector_data['Symbol']
test

11        AAL
24       AAWW
39       ABNB
312      AIRT
313     AIRTP
        ...
8354      XPO
8371     YELL
8414      ZIM
8431      ZNH
8442      ZTO
Name: Symbol, Length: 121, dtype: object

In [91]:
intc_df = yf.download('AAPL', 
                      start='2010-01-05',
                      interval = '60m'
)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AAPL: 1h data not available for startTime=1262667600 and endTime=1645932371. The requested range must be within the last 730 days.

In [ ]:
# Create a contract object
from ibapi.contract import Contract

contract = Contract()
contract.symbol = 'TSM220304C00115000'
contract.secType  = 'OPT'
contract.exchange = 'SMART'
contract.currency = 'USD'

# Get your historical data
historical_data = fetch_historical_data(contract=contract,
                                        endDateTime='',
                                        durationStr='30 D',
                                        barSizeSetting='1 hour',
                                        whatToShow='MIDPOINT',
                                        useRTH=True)


# Print it! This should be a dataframe that's ready to go.
print(historical_data)

In [ ]:
historical_data

ERROR: Could not find a version that satisfies the requirement threading
ERROR: No matching distribution found for threading